<html>
    <head>
        <title th:text="${title}">Table number #ID</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="WebSockets in action!" />
        <meta name="author" content="RobicToNieMaKomu" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link href="/WebChess/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
        <link href="/WebChess/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
        <link href="/WebChess/css/bootstrap-responsive.css" rel="stylesheet" th:href="@{/css/bootstrap-responsive.css}"/>
        <script type="text/javascript" src="/WebChess/js/websocketclient.js"></script>
    </head>
    <body onload="connect()">
        <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Then what are you doin here?</h2></noscript>
        <div class="container-fluid" id="chess_table_container">
            <div class="row-fluid">
                <div class="span8">
                    <!--chessboard -->
                    <canvas id="chessboard" width="480" height="480"
                            style="border:1px solid black;">
                    </canvas> 
                </div>
                <div class="span4" style="background-color: turquoise">
                    <!--menus etc -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <span class="label label-success" id="wplayerTime">5:00</span>
                                </th>
                                <th>
                                    <span class="label label-success" id="bplayerTime">5:00</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <button class="btn btn-primary" type="button" onclick="sit('white')" th:text="${wplayer} ? ${wplayer.login}:#{table.sit_button}">take a sit</button>
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="button" onclick="sit('black')" th:text="${bplayer} ? ${bplayer.login}:#{table.sit_button}">take a sit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-info" type="button" onclick="proposeDraw()">draw</button>
                                </td><td></td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-danger" type="button" onclick="surrender()">surrender</button>
                                </td><td></td>
                            </tr>
                            <tr>
                                <td valign="bottom" colspan="2">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#logs" data-toggle="tab">Logs</a>
                                        </li>
                                        <li>
                                            <a href="#spectactors" data-toggle="tab">Spectactors</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade in active" id="logs">
                                            <p>Here will be lot of logs</p>
                                        </div>
                                        <div class="tab-pane fade" id="spectactors">
                                            <p>Here will be list of the spectactors</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/WebChess/js/bootstrap.js"></script>
        <script type="text/javascript" src="/WebChess/js/bootstrap-tab.js"></script>
        <script type="text/javascript" src="/WebChess/js/timer.js"></script>
    </body>
</html>