<!DOCTYPE html>
<html>
    <head>
        <title th:text="${title}">Table number #ID</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="WebSockets in action!" />
        <meta name="author" content="RobicToNieMaKomu" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link href="../../assets/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
        <link href="../../assets/css/bootstrap-responsive.css" rel="stylesheet" th:href="@{/css/bootstrap-responsive.css}"/>
        <link href="../../assets/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
        <style type="text/css">
            body {
                padding: 20px 10px 20px 10px;
                background-color: #f5f5f5;
            }
        </style>
    </head>
    <body>
        <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Then what are you doin here?</h2></noscript>
        <div class="container-fluid" id="chess_table_container">
            <div class="row-fluid">
                <div class="span8">
                    <!--chessboard -->
                        <canvas id="chessboardCanvas" width="480" height="480" style="border:1px solid black; z-index: 1;position: absolute">Error</canvas>
                        <canvas id="glassLayer" width="480" height="480" style="z-index: 0;position: absolute">Error</canvas>
                </div>
                <div class="span4">
                    <!--menus etc -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <span class="label label-success" id="wplayerTime">5:00</span>
                                </th>
                                <th>
                                    <span class="label label-success" id="bplayerTime">5:00</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <button id="wbutton" class="btn btn-primary" type="button" th:text="${wplayer} ? ${wplayer.login}:#{table.sit_button}">take a sit</button>
                                </td>
                                <td>
                                    <button id="bbutton" class="btn btn-primary" type="button" th:text="${bplayer} ? ${bplayer.login}:#{table.sit_button}">take a sit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="span12">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                Options<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a tabindex="-1" href="http://google.com">Set game time</a></li>
                                <li><a tabindex="-1" href="#anotherAction">Invite to the table</a></li>
                                <li><a tabindex="-1" href="#">Kick</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#">Connection Status</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-info" type="button">draw</button>
                        <button class="btn btn-danger" type="button">surrender</button>
                    </div>
                    <div class="span12">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#logs" data-toggle="tab">Logs</a>
                            </li>
                            <li>
                                <a href="#spectactors" data-toggle="tab">Spectactors</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="logs">
                                <p>Here will be lot of logs</p>
                            </div>
                            <div class="tab-pane fade" id="spectactors">
                                <p>Here will be list of the spectactors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../../assets/js/pieces.js" th:src="@{/js/pieces.js}"></script>
        <script type="text/javascript" src="../../assets/js/canvaschessboard.js" th:src="@{/js/canvaschessboard.js}"></script>
        <script type="text/javascript" src="../../assets/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
        <script type="text/javascript" src="../../assets/js/timer.js" th:src="@{/js/timer.js}"></script>
        <script type="text/javascript" src="../../assets/js/tablehandler.js" th:src="@{/js/tablehandler.js}"></script>
    </body>
</html>