<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>WebChess</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Spring MVC + Hibernate + Thymeleaf + Bootstrap web application. Simply Chess." />
        <meta name="author" content="RobicToNieMaKomu" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link href="../../assets/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
        <link href="../../assets/css/bootstrap-responsive.css" rel="stylesheet" th:href="@{/css/bootstrap-responsive.css}"/>
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    </head>

    <body onload="refresh()">  
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#" th:text="#{title.application}">Project name</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav" id="right">
                            <li> <button class="btn btn-primary" type="button" onclick="createNewTable()">Create new game</button></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="j_spring_security_logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h3 class="text-info" id="no_games_created" th:text="${allChessTables} ? #{chess_table.hide} : #{chess_table.noGames}">No games created</h3>
            <div class="row" th:unless="${#lists.isEmpty(allChessTables)}">
                <div class="span8">
                    <h2 th:text="#{title.list}">All available chess tables</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th th:text="#{chess_table.tableId}">Id</th>
                                <th th:text="#{chess_table.wPlayer}">White</th>
                                <th th:text="#{chess_table.bPlayer}">Black</th>
                                <th th:text="#{chess_table.gameTime}">Time duration</th>
                            </tr>
                        </thead>
                        <tbody id="currentChessTables">
                            <tr th:each="table : ${allChessTables}">
                                <th th:text="${table.tableId}">-</th>
                                <th th:text="${table.wplayer}">-</th>
                                <th th:text="${table.bplayer}">-</th>
                                <th th:text="${table.gameTime}">-</th>
                            </tr>
                        </tbody>
                     </table>
                </div>
                <div class="span4">
                </div>
            </div>

        </div>
        <script type="text/javascript" src="../../assets/js/ajax-handler.js" th:src="@{/js/ajax-handler.js}"></script>
    </body>
</html>